
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
    color: #333;
    line-height: 1.6;
}

header {
    width: 100%;
    background: #333;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #f8bbd0;
}

.home-section {
    padding: 120px 20px;
    text-align: center;
    background: #fce4ec;
}

.home-section h1 span {
    color: #f48fb1;
}

.home-section h3 span {
    color: #f8bbd0;
}

.home-section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 20px auto;
    border: 4px solid #f8bbd0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.home-section img:hover {
    transform: scale(1.05);
}

.about-section {
    padding: 60px 20px;
    text-align: center;
    background: #fff;
}

.about-section h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #f48fb1;
}

.about-section p {
    max-width: 800px;
    margin: auto;
    margin-bottom: 12px;
}


.skills-section {
    padding: 60px 20px;
    background: #fce4ec;
    text-align: center;
}

.skills-section h2 {
    color: #f48fb1;
}

.skills-section ul {
    list-style: none;
    margin-top: 20px;
}

.skills-section ul li {
    margin: 8px 0;
    font-size: 18px;
}

.projects-section {
    padding: 60px 20px;
    background: #fff;
}

.projects-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f48fb1;
}

.project-item {
    max-width: 700px;
    background: #f2f2f2;
    padding: 20px;
    margin: 15px auto;
    border-radius: 10px;
    text-align: center;
}

.project-item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

.contact-section {
    padding: 60px 20px;
    background: #fce4ec;
}

.contact-section h2 {
    text-align: center;
    color: #f48fb1;
}

form {
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #f8bbd0;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #f48fb1;
}


footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    margin-top: 20px;
}
